.text-search {
    display: flex;
    font-size: 1.6rem;

    &__input {
        font-size: inherit;
    }

    &__icon {
        background: $color-accent-light;
        border-left: none;
        padding: 8px 10px;

        svg {
            width: 20px;
            height: 20px;
            fill: $color-accent-dark;
        }
    }
}
