.home {
    display: flex;
    gap: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
}

.display-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nothing-found {
    padding-top: 20%;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
}
