.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: #fff;
	color: #fff;
	font-size: 1.6rem;
	z-index: 100;

	@include max-840 {
		height: 34px;
		position: fixed;
	}

	&__wrapper {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
