/* Colors */

$color-accent-dark: #013d29;
$color-accent-light: #ecd165;
$color-main: #ffffff;
$color-secondary: #f6f6f6;

$color-text: #252120;

/* Fonts */

$font-main: 'Roboto', Arial, Helvetica, sans-serif;
