@import 'scss/abstract/variables';
@import 'scss/abstract/mixins';

@import 'scss/base/reset';
@import 'scss/base/fonts';
@import 'scss/base/text';

@import 'scss/components/buttons';

@import 'scss/layout/basic';
@import 'scss/layout/header';
@import 'scss/layout/footer';

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $color-main;
	color: $color-text;
	text-transform: uppercase;
}
