@import 'abstract/variables';
@import 'abstract/mixins';

@import 'base/reset';
@import 'base/fonts';
@import 'base/text';

@import 'components/buttons';

@import 'layout/basic';
@import 'layout/header';
@import 'layout/footer';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: $color-main;
    color: $color-text;
    text-transform: uppercase;
}
@import '../app/components/footer/footer';

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}